@import 'nav-footer.scss';

main{
    .header{  
        .header-h1{
            margin-left: 400px;
            margin-top: 139px;
            font-family: $font-family;
            font-style: normal;
            font-weight: 100;
            font-size: 70px;
            line-height: 102px;
            letter-spacing: -2px;
            color: #242635;
        }
        .header-text{
            width: 573px;
            height: 66px;
            margin-left: 400px;
            margin-top: -25px;
            font-family: $font-family;
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 33px;
            text-align: center;
            color: #242635;
        }
    }
    div{
        img{
            margin-left: 300px;
        }
    }
}