$font-family: 'Source Sans Pro', sans-serif;
#navbar{
    position: relative;
    .nav-logo{
        margin-left: 286px;
        margin-top: 62px;
    }
    .nav-list{
        width: 267px;
        height: 25px;
        position: absolute;
        left: 889px;
        top: 0;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li{
            a{
                font-family: $font-family;
                text-decoration: none;
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                color: #242635;
            }
        }
    }
}